@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Lato', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background-color:#EC0B43;
}

details[open] summary .opened{
    display: flex !important;
}
details[open] summary .closed{
    display: none !important;
}